footer {
  position: absolute;
  width: 100%;
  height: 483px;
  left: 0;
  bottom: 0;
  z-index: 3;
}

footer .navigation {
  height: 401px;
  display: flex;
  justify-content: center;
  background: #fff;
}

footer .drawer {
  border-top: 1px solid hsla(0,0%,59.2%,.25);
  padding: 45px 20px 160px;
  border-block-start: solid 1px hsla(0,0%,59.2%,.25);
  display: grid;
  column-gap: 70px;
  padding-block-start: 45px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-end: 160px;
}

.drawer > div {
  padding-top: 30px;
  padding-bottom: 25px;
  width: 275px;
  padding-block-start: 30px;
  padding-block-end: 25px;
  inline-size: 275px;
}

.drawer .nav_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-left: -10px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
}

.drawer .nav_link:hover {
  background-color: rgba(0,0,0,.08);
}

.drawer .nav_link h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -1.5px;
}

.drawer .nav_link > span {
  display: block;
  width: 14.25px;
  height: 18.67px;
  margin-left: 5px;
  background: url(../../../assets/images/ft_right_arrow.png) center / 100% auto no-repeat;
}

.drawer .graphic {
  display: flex;
  align-items: center;
  block-size: 26px;
  margin-block-end: 10px;
  height: 26px;
  margin-bottom: 10px;
}

.drawer .graphic > span {
  display: block;
  width: 27.88px;
  height: 21.06px;
  background: url(../../../assets/images/cloud.png) center / 100% auto no-repeat;
  margin-right: 10px;
}

.drawer .graphic h2 {
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
}

.drawer .description {
  block-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.drawer .description .large_info {
  margin-bottom: 6px;
  font-size: 19px;
  font-weight: 600;
  line-height: 23px;
  margin-block-end: 6px;
}

.drawer .description .small_info {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0,0,0,.56);
}

.drawer .storage_graphic {
  min-width: 150px;
  width: 190px;
  max-width: 100%;
}

.drawer .storage_graphic .storage_usage {
  margin-top: 20px;
}

.drawer .storage_graphic .storage_usage .meter_gauge {
  display: flex;
  border-radius: 6px;
  inline-size: 100%;
  width: 100%;
  height: 9px;
  overflow: hidden;
}

.drawer .storage_graphic .storage_usage .meter_gauge .segment {
  height: 100%;
  min-width: 3px;
}

.drawer .storage_graphic .storage_usage .meter_gauge .segment:not(:first-of-type) {
  border-left: 1px solid #fff;
}

.drawer .recovery_graphic {
  display: flex;
  block-size: 100%;
  align-items: center;
}

.drawer .recovery_graphic div {
  height: 22.6301px;
  width: 22.6194px;
  margin-right: 16px;
}

.drawer .recovery_graphic .recovery_document {
 background: url(../../../assets/images/recovery_document.png) center / 100% auto no-repeat;
}
.drawer .recovery_graphic .recovery_bookmark {
  background: url(../../../assets/images/recovery_bookmark.png) center / 100% auto no-repeat;
}
.drawer .recovery_graphic .recovery_account {
  background: url(../../../assets/images/recovery_account.png) center / 100% auto no-repeat;
}
.drawer .recovery_graphic .recovery_calender {
  background: url(../../../assets/images/recovery_calender.png) center / 100% auto no-repeat;
  margin-right: 0;
}

/* legal footer css */
.legal_footer {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  padding-block-start: 30px;
  padding-block-end: 30px;
  inline-size: 100%;
  background-color: #f2f2f7;
}

.legal_footer .application_content {
  margin-left: auto;
  margin-right: auto;
  
}

.legal_footer .legal_footer_content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 12px;
  font-size: 11px;
  font-weight: 400;
}

.legal_footer .legal_footer_content .inner_row {
  color: hsla(0,0%,100%,.3);
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.legal_footer .legal_footer_content .inner_row a {
  text-decoration: none;
  color: rgba(0,0,0,.56);
}

.legal_footer .legal_footer_content .inner_row .with_separator {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
}

.legal_footer .legal_footer_content .inner_row .with_separator .separator {
  height: 15px;
  width: 1px;
  align-self: center;
  background-color: #d2d2d7;
}

.legal_footer .legal_footer_content .inner_row .copyright {
  color: rgba(0,0,0,.56);
  margin-left: auto;
}


@media (min-width: 1165px) {
  .drawer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .legal_footer .application_content {
    max-width: 1035px;
    max-inline-size: 1035px;
    width: 1035px;
  }
}
  