@tailwind base;
@tailwind components;
@tailwind utilities;

/* eng-font */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(./assets/fonts/Pretendard-Black.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(./assets/fonts/Pretendard-ExtraBold.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(./assets/fonts/Pretendard-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(./assets/fonts/Pretendard-SemiBold.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(./assets/fonts/Pretendard-Medium.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(./assets/fonts/Pretendard-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(./assets/fonts/Pretendard-Light.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(./assets/fonts/Pretendard-ExtraLight.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(./assets/fonts/Pretendard-Thin.woff2) format('woff2');
}

/* kor-font */

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-display: swap;
	src: local('Roboto Black'), url(./assets/fonts/Roboto-Black.ttf) format('ttf');
	unicode-range: U+AC00-D7AF, U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-display: swap;
	src: local('Roboto Bold'), url(./assets/fonts/Roboto-Bold.ttf) format('ttf');
	unicode-range: U+AC00-D7AF, U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-display: swap;
	src: local('Roboto Medium'), url(./assets/fonts/Roboto-Medium.ttf) format('ttf');
	unicode-range: U+AC00-D7AF, U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-display: swap;
	src: local('Roboto Regular'), url(./assets/fonts/Roboto-Regular.ttf) format('ttf');
	unicode-range: U+AC00-D7AF, U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-display: swap;
	src: local('Roboto Light'), url(./assets/fonts/Roboto-Light.ttf) format('ttf');
	unicode-range: U+AC00-D7AF, U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-display: swap;
	src: local('Roboto Thin'), url(./assets/fonts/Roboto-Thin.ttf) format('ttf');
	unicode-range: U+AC00-D7AF, U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}

body {
	font-family: 'Roboto', 'Pretendard', sans-serif;
}